doctype html
html(lang="es")
  head
    title="Pasatiempos de La Region"
    link(src="css/bootstrap.css")
    link(src="css/app.css")
    script(src="js/bootstrap.js")
    script(src="scripts.js")
  body
    div.row
      div.col-md-12
        h1 Jade
    
